// Custom variables
$lato: 'Lato', sans-serif;
$sourcesans: 'Source Sans Pro', sans-serif;
$red: #be0a24;
$fontawesome: FontAwesome;
$grey: #646464;

* {
  font-family: $sourcesans;
  color: $grey;
}

html {
  h1,h2,h3,h4 {
    font-family: $lato;
    font-style: italic;
    color: $red;
  }
  ul {
    padding-left: 0;
    list-style: none;
    font-weight: 700;
    font-size: 1.1em;

    li {
      &:before {
        margin-left: -1.3em;
        width: 1em;
      }
      .glyphicon-chevron-right {
        color: $red;
        font-size: .9em;
        font-weight: bold;
      }
      button {
        background: none;
        padding: 0;
        border: none;
      }
    }
  }
}

div.well-content:not(:first-of-type) {
  display: none;
}

.imgLeftSpacing {
  margin-left: .5em;
}

.expand-img {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.center {
  display: block;
  margin: 0 auto;
}

.img-modal {
  margin: auto;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.model-content {
  .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 44px;
  right: 80px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 700;
  transition: .3s;

  &:hover {
    color: #ffffff;
  }
}

.no-padding-col {
  padding-right: 0;
  padding-left: 0;
}

.slideshow {
  width: 200px;
  height: 150px;


  > div {
    position: relative;

    top: 10px;
    bottom: 10px;

    > img {
      position: absolute;
    }
  }
}


@media screen and (max-width: 768px) {
  .row {
    padding: .5em;
  }
  h1 {
    font-size: 3em;
  }
  .sidebar-content {
    img {
      width: 100%;
    }
    .no-padding {
      padding: 0;
      margin-bottom: 1.2em;
    }
  }
  ul {
    li {
      margin-bottom: .5em;
    }
  }
  .full-width {
    width: 100%;
  }
  .imgLeftSpacing {
    margin-left: 0;
  }
  .slideshow {
    margin-bottom: 28em;
  }
}

@media screen and (max-width: 411px) {
  .slideshow {
    margin-bottom: 11em;
  }
}

@media screen and (max-width: 375px) {
  .slideshow {
    margin-bottom: 9em;
  }
}
@media screen and (max-width: 320px) {
  .slideshow {
    margin-bottom: 5em;
  }
}